<div class="sm-col sm-col-3">
	<h5 class="uppercase gray bold mb3">
		{{ customer.first_name }} {{ customer.last_name }}
	</h5>

	<ul class="list-reset">
	    <li class="mb1"><a href="{{ site_url('orders') }}"{{ active_page == 'orders' ? ' class="current"' : null }}>Order History</a></li>
	    <li class="mb1"><a href="{{ site_url('profile') }}"{{ active_page == 'profile' ? ' class="current"' : null }}>Addresses</a></li>
	    <li class="mb1"><a href="{{ site_url('password') }}"{{ active_page == 'password' ? ' class="current"' : null }}>Password</a></li>
	</ul>
</div>

<hr class="sm-hide" />