{{ code_block('setup') }}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>

<title>{{ page.title }} &middot; Monkey Latch&trade;</title>

<link rel="shortcut icon" href="{{ 'favicon.ico'|theme_resource }}">
<link rel="stylesheet" type="text/css" href="/cms/core.css">
<link rel="stylesheet" type="text/css" href="{{ 'css/main.css'|theme_resource }}">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" async></script>

<script>
document.createElement( "picture" );
</script>
<script type="text/javascript" src="{{ 'js/init.js'|theme_resource }}" async></script>

<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Lato:400,700:latin', 'Oswald:700:latin' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>
