<!-- Sitefooter -->
<footer class="[ bg-brand-grey ] sitefooter">
    <div class="container px2 py4 black">

        <div class="clearfix mb4">
            <div class="col col-6 sm-col-2">
                <h5 class="uppercase">Company</h5>
                <ul class="list-reset">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col col-6 sm-col-2">
                <h5 class="uppercase">Shop</h5>
                <ul class="list-reset">
                    <li><a href="#">Products</a></li>
                    <li><a href="{{ site_url('orders') }}">Order History</a></li>
                    <li><a href="{{ site_url('profile') }}">Account</a></li>
                </ul>
            </div>
            <div class="col col-6 sm-col-2">
                <h5 class="uppercase">Support</h5>
                <ul class="list-reset">
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="{{ site_url('contact') }}">Contact</a>
                </ul>
            </div>
            <div class="col col-6 sm-col-6 sm-right-align">
                <ul class="list-reset">
                    {% if theme.socialFacebookUrl %}
                    <li><a href="{{ theme.socialFacebookUrl }}"><i class="fa fa-2x fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
                    {% endif %}
                    {% if theme.socialTwitterUrl %}
                    <li><a href="{{ theme.socialTwitterUrl }}"><i class="fa fa-2x fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
                    {% endif %}
                    {% if theme.socialInstagramUrl %}
                    <li><a href="{{ theme.socialInstagramUrl }}"><i class="fa fa-2x fa-instagram"></i><span class="sr-only">Instagram</span></a></li>
                    {% endif %}
                    {% if theme.socialPinterestUrl %}
                    <li><a href="{{ theme.socialPinterestUrl }}"><i class="fa fa-2x fa-pinterest"></i><span class="sr-only">Pinterest</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <p class="center xsmall mb0 mt4">Copyright &copy; 2015 Monkey Latch</p>

    </div>
</footer>
<!--// Sitefooter -->

<div id="modal-minicart" class="modal modal--right fade hide">
{{ partial('modal-minicart') }}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/cms/core.js"></script>

<script src="{{ 'js/main.js'|theme_resource }}"></script>
