<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Siteheader -->
<header class="[ relative bg-brand-secondary ] siteheader">

    <div class="[ container px2 pyr3 relative ]">
        <div class="clearfix">

            <div class="[ inline-block middle col-3 sm-col-2 ] sitebrand">
                <a href="/" class="logo">
                    <img alt="Monkey Latch logo" src="{{ 'img/logo.png'|theme_resource }}" />
                </a>
            </div>

            <a href="#" class="[ button bg-white black right ] sm-hide js-toggle-nav">Menu</a>

            <nav class="[ inline-block middle uppercase right mt1 ] sitenav">
                <a href="{{ site_url('products') }}" class="[ button button-transparent white ]">Products</a>
                <!-- <a href="#" class="[ button button-transparent white ]">Learn</a> -->
                <a href="{{ site_url('about') }}" class="[ button button-transparent white ]">Contact</a>
                {% if customer %}
                <a href="{{ site_url('logout') }}" class="[ button button-transparent white ]">Logout</a>
                {% else %}
                <a href="{{ site_url('login') }}" class="[ button button-transparent white ]">Login or Register</a>
                {% endif %}

                <div class="minicart" id="mini-cart">
                    {% if customer %}
                    <a class="[ button button-transparent white ]" href="{{ site_url('profile') }}">{{ customer.first_name }}'s Account</a>
                    {% endif %}
                    {{ partial('shop-minicart') }}
                </div>
            </nav>


        </div>
    </div>

</header>
<!--// Siteheader -->