<!-- Sitefooter -->
<footer class="[ bg-brand-grey ] sitefooter">
    <div class="container px2 py4 black">

        <div class="clearfix mb4">

            <div class="col col-6 sm-col-2">
                <h5 class="uppercase">Shop</h5>
                <ul class="list-reset">
                    <li><a href="{{ site_url('products') }}">Products</a></li>
                    <li><a href="{{ site_url('orders') }}">Order History</a></li>
                    <li><a href="{{ site_url('profile') }}">Account</a></li>
                </ul>
            </div>
            <div class="col col-6 sm-col-2">
                <h5 class="uppercase">Support</h5>
                <ul class="list-reset">
                    <li><a href="{{ site_url('returns') }}">Returns</a></li>
                    <li><a href="{{ site_url('shipping') }}">Shipping</a></li>
                    <li><a href="{{ site_url('about') }}">Contact</a>
                </ul>
            </div>
            <div class="col col-6 sm-col-2">
                &nbsp;
                <!-- <h5 class="uppercase">Company</h5>
                <ul class="list-reset">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Blog</a></li>
                </ul> -->
            </div>

            <div class="col col-6 sm-right-align">
                {% if theme.socialFacebookUrl %}
                <a class="inline-block social-item bg-white brand-grey ml1 mr1" href="{{ theme.socialFacebookUrl }}"><i class="icon ion-social-facebook"></i><span class="sr-only">Facebook</span></a>
                {% endif %}
                {% if theme.socialTwitterUrl %}
                <a class="inline-block social-item bg-white brand-grey ml1 mr1" href="{{ theme.socialTwitterUrl }}"><i class="icon ion-social-twitter"></i><span class="sr-only">Twitter</span></a>
                {% endif %}
                {% if theme.socialInstagramUrl %}
                <a class="inline-block social-item bg-white brand-grey ml1 mr1" href="{{ theme.socialInstagramUrl }}"><i class="icon ion-social-instagram"></i><span class="sr-only">Instagram</span></a>
                {% endif %}
                {% if theme.socialPinterestUrl %}
                <a class="inline-block social-item bg-white brand-grey ml1 mr1" href="{{ theme.socialPinterestUrl }}"><i class="icon ion-social-pinterest"></i><span class="sr-only">Pinterest</span></a>
                {% endif %}
                {% if theme.socialYoutubeUrl %}
                <a class="inline-block social-item bg-white brand-grey ml1 mr1" href="{{ theme.socialYoutubeUrl }}"><i class="icon ion-social-youtube-outline"></i><span class="sr-only">YouTube</span></a>
                {% endif %}

                <div class="clearfix py2">
                    <a href="https://www.instantssl.com/ssl-certificate.html" style="text-decoration:none; "><img alt="SSL Certificate" src="https://www.instantssl.com/ssl-certificate-images/support/comodo_secure_100x85_transp.png" style="border: 0px;" /></a>
                </div>
            </div>
        </div>

        <p class="center xsmall mb0 mt4">Copyright &copy; 2015 Monkey Latch</p>

    </div>
</footer>
<!--// Sitefooter -->

<div id="modal-minicart" class="modal modal--right fade hide">
{{ partial('modal-minicart') }}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/cms/core.js"></script>

<script src="{{ 'js/main.js'|theme_resource }}"></script>
