{% set on_sale = product.onSale %}

<div class="[ container px2 py3 overflow-hidden cushion-bottom ]">

    <header class="mb4">
        <h1 class="bold uppercase">{{ product.name }}</h1>
    </header>

    <div class="[ clearfix mxn4 ]">

        <!-- Product Images -->
        <div class="[ md-col-right md-col-7 px4 ]">

            <div class="[ mb3 ] product-images">
                {% if product.related.count %}

                    {% for relatedProduct in product.related %}
                    {% if relatedProduct.sku != 'allen-key' %}
                    <div class="center mb1">
                        <img alt="{{ relatedProduct.name }} image" src="{{ relatedProduct.images.first.thumbnail(320, 240)|default('http://placehold.it/320x240') }}"/>
                    </div>
                    {% endif %}
                    {% endfor %}

                {% endif %}
            </div>

            <div class="clearfix center mxn1">
            {% if product.categories.count %}
                {% for category in product.categories %}
                <div class="col col-6 sm-col sm-col-fifth px1">
                    <h6 class="uppercase xsmall">{{ category.name }}</h6>
                    <p class="xsmall">{{ category.short_description }}</p>
                </div>
                {% endfor %}
            {% endif %}
            </div>

        </div>
        <!--// Product Images -->

        <!-- Product Content -->
        <div class="md-col md-col-5 px4">

            <div class="product-description">
                {{ product.description|unescape }}
            </div>

            {% if product.related.count %}

                {% for relatedProduct in product.related %}

                <div class="[ py1 ] related-product">
                    <h6>{{ relatedProduct.name }}:</h6>
                    <div class="related-product__desc">
                    {{ relatedProduct.description|unescape }}
                    </div>

                    {{
                        partial('shop-product-attributes', {
                            'product': relatedProduct
                        })
                    }}

                </div>

                {% endfor %}

            {% endif %}

            <p class="[ h3 border-top py2 regular mt2 ] product-pricing">
                <strong class="product-price">{{ product.fullPrice|currency }}</strong> <span class="[ uppercase ] product-stock">- In Stock</span>
            </p>

            <input type="hidden" name="quantity" value="1" />
            <input type="hidden" name="productId" value="{{ product.id }}" />
            <button class="[ button button-lg uppercase bg-red ] js-addtocart" type="button">Add to Cart</button>

        </div>
        <!--// Product Content -->

    </div>
</div>


<!-- <div class="row">

    <div class="col-xs-12 col-sm-6 item-images">
        <figure class="thumb thumb--lg big-image">
            <img src="{{ product.images.first.thumbnail(746, 'auto')|default('http://placehold.it/460x300') }}" alt="{{ product.name }}" id="product-image" />
        </figure>

        <h5>Additional Views</h5>
        {% if product.images.count > 1 %}
        <ul class="thumblist js-thumblist" data-target="#product-image">
            {% for image in product.images %}
            <li>
                <a href="{{ image.thumbnail(746, 'auto') }}">
                    <img src="{{ image.thumbnail(367, 367) }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">

        <div class="short-description">
            <h1 class="PRD__name">{{ product.name }}</h1>
            <p class="h3 PRD__price">
                {% if on_sale %}
                <span class="price oldprice">was {{ product.fullPrice|currency }}</span>
                <span class="price curprice">now {{ product.price|currency }}</span>
                {% else %}
                <span class="price">{{ product.price|currency }}</span>
                {% endif %}
            </p>
        </div>

        <div class="PRD__options">

            {{ partial('shop-product-attributes') }}
            {{ partial('shop-product-options') }}
            {{ partial('shop-product-extras') }}

    {% if product.enabled %}
        {% if not product.isOutOfStock() %}
            {{ flash() }}
            <div class="form-group">
                <label class="title" for="customDropdown">Quantity</label>
                <input type="text" size="1" value="{{ quantity|default("1") }}" name="quantity" class="form-control input-sm" />
            </div>

            <div class="form-group add-to-cart-block">
                <input type="hidden" name="productId" value="{{ product.id }}" />
                <a class="btn btn-dark js-addtocart" href="#">Add to Cart</a>
            </div>

        {% else %}
            <div class="not-available">
                <p>This product is temporarily unavailable.</p>
            </div>
        {% endif %}
    {% else %}
            <div class="not-available">
                <p>This product is not available.</p>
            </div>
    {% endif %}
        </div>

        {% if product.description %}
        <div class="row PRD__description">
            <div class="col-sm-12">
                <h5>Description</h5>
                {{ product.description|unescape }}
            </div>
        </div>
         {% endif %}
    </div>

</div> -->