<div class="overflow-scroll">
    <table class="table-light">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="narrow">Quantity</th>
                <th class="narrow">Price</th>
                <th class="narrow">Discount</th>
                <th class="narrow">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in invoice.shipments %}
            {% for item in shipment.shipmentItems %}
            <tr>
                <td>
                {% if item.product.related.count %}
                    {% for relatedProduct in item.product.related %}
                    {% if relatedProduct.sku != 'allen-key' %}
                    {% for relatedImage in relatedProduct.images %}
                    <div class="inline-block thumb thumb-sm">
                        <img alt="{{ relatedProduct.name }} image" src="{{ relatedImage.thumbnail(120,120)|default('https://placehold.it/120x120') }}"/>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                {% endif %}
                </td>
                <td>
                    <h6><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h6>
                    {% set description = item.optionsString() %} {% if description %}
                    <span class="text-muted small">{{ description|unescape }}</span>
                    {% endif %}
                </td>
                <td class="py2">{{ item.quantity|number_format(0) }}</td>
                <td class="py2">{{ item.pivot.price|currency }}</td>
                {% if item.discount %}
                <td class="py2 newprice">{{ item.discount|currency }}</td>
                {% else %}
                <td class="py2">{{ 0|currency }}</td>
                {% endif %}
                <td class="py2 text-pop">{{ (item.quantity *item.pivot.price)|currency }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>