{% set on_sale = product.onSale %}

<div class="[ container px2 py3 overflow-hidden cushion-bottom ]">

    <header class="mb4">
        <h1 class="bold uppercase">{{ product.name }}</h1>
    </header>

    <div class="[ clearfix mxn4 ]">

        <!-- Product Images -->
        <div class="[ md-col-right md-col-7 px4 ]">

            <div class="[ mb3 ] product-images">
                {% if product.related.count %}

                    {% for relatedProduct in product.related %}
                    <div class="center clearfix mb2">
                    {% if relatedProduct.sku != 'allen-key' %}
                    {% for relatedImage in relatedProduct.images %}
                    <div class="inline-block col-6 mxn1">
                        <img alt="{{ relatedProduct.name }} image" src="{{ relatedImage.thumbnail(320, 240)|default('https://placehold.it/320x240') }}"/>
                    </div>
                    {% endfor %}
                    {% endif %}
                    </div>
                    {% endfor %}

                {% endif %}
            </div>

            <div class="clearfix center mxn2">
            {% if product.categories.count %}
                {% for category in product.categories %}
                <div class="inline-block col-6 sm-col-fifth px1 mxn1 top">
                    <figure class="thumb thumb-xs">
                        <img alt="" src="{{ category.images.first.thumbnail(60, 40)|default('https://placehold.it/40x40') }}" />
                    </figure>
                    <h6 class="uppercase xsmall">{{ category.name }}</h6>
                    <p class="xsmall">{{ category.short_description }}</p>
                </div>
                {% endfor %}
            {% endif %}
            </div>

        </div>
        <!--// Product Images -->

        <!-- Product Content -->
        <div class="md-col md-col-5 px4">

            <div class="product-description">
                {{ product.description|unescape }}
            </div>

            {% if product.related.count %}

                {% for relatedProduct in product.related %}

                <div class="[ py1 ] related-product">
                    <h6>{{ relatedProduct.name }}:</h6>
                    <div class="related-product__desc">
                    {{ relatedProduct.description|unescape }}
                    </div>

                    {{
                        partial('shop-product-attributes', {
                            'product': relatedProduct
                        })
                    }}

                </div>

                {% endfor %}

            {% endif %}

            <p class="[ h3 border-top py2 regular mt2 ] product-pricing">
                <strong class="product-price">{{ product.fullPrice|currency }}</strong> <span class="[ uppercase ] product-stock">- In Stock</span>
            </p>

            <input type="hidden" name="quantity" value="1" />
            <input type="hidden" name="productId" value="{{ product.id }}" />
            <button class="[ button button-lg uppercase bg-red ] js-addtocart" type="button">Add to Cart</button>

        </div>
        <!--// Product Content -->

    </div>
</div>

<!-- Added to cart modal window -->
<div id="modal-minicart" class="modal bg-white hide" tabindex="-1">
    <div class="clearfix py1 px1">
        <button type="button" class="[ right button button-small button-transparent black ] js-modalclose" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="block py2 px3">
        <h5 class="mb1">You're one step closer to owning this product!</h5>
        <p class="mb0"><strong>{{ product.name }}</strong> has been added to your cart.</p>
    </div>
    <div class="clearfix py2 px3 mb1">
        <div class="right">
            <a href="/cart" class="button button-small bg-red">Go to cart</a>
        </div>
    </div>
</div>
<!-- End id="added" -->
