{% if cart %}

    <header class="py3 mb2 border-bottom" id="checkout-progress">
        {{ partial("shop-checkout-progress") }}
    </header>

    {% if order.payment_processed %}
    <div class="col-sm-6">
        <p class="flash info"><strong>Thank you!</strong> The payment is already processed for this order.</p>
    </div>
    {% else %}

    <div class="md-col-6 mx-auto py3 mb3" id="payment-method">

        <header class="py3">
            <h4>Choose a payment method.</h4>
        </header>

        <!-- The payment method radio button clicks are handled in the main.js -->
        {{ open_form({'class': 'custom mb1', 'id': 'payment_method'}) }}
        {% for method in paymentMethods %}
            <label class="radio-inline" for="payment-method{{ method.id }}">
                <input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" />
                <span class="choice-title">
                    {{ method.name }}
                </span>
            </label>
        {% endfor %}
        {{ close_form() }}

        <div id="payment_form">
        {{ partial('shop-paymentform') }}
        </div>

    </div>

    {% endif %}

<!--     <div id="cart-content">
        {{ partial('shop-cart-items') }}
    </div> -->


 {% else %}
    <div class="row buffer-bottom">
        <div class="col-sm-12">
            <p class="flash error">Order not found.</p>
        </div>
    </div>
{% endif %}