<!-- Order Summary -->
<h6 class="xsmall bold uppercase mb2">Order Summary</h4>

{% if totals.discountTotal > 0 %}
<p class="clearfix">
    <strong class="col-sm-6">Discount applied</strong>
    <span class="col col-6 right-align newprice">{{ totals.discountTotal|currency }}</span>
</p>
{% endif %}

{% if totals.totalShippingQuote %}
<p class="clearfix">
    <strong class="col col-6">Shipping</strong>
    <span class="col col-6 right-align newprice">{{ totals.totalShippingQuote|currency }}</span>
</p>
{% endif %}

<p class="clearfix">
    <strong class="col col-6">Sales Tax</strong>
    <span class="col col-6 right-align">{{ totals.totalTax|currency }}</span>
</p>
<p class="clearfix">
    <strong class="col col-6">Subtotal</strong>
    <span class="col col-6 right-align">{{ totals.subtotal|currency }}</span>
</p>
<p class="clearfix">
    <strong class="col col-6">Estimated Total</strong>
    <span class="col col-6 right-align">{{ totals.total|currency }}</span>
</p>
<!-- // Order Summary -->