{{ flash() }}

{% if itemCount %}
    {{ partial('shop-cart-items', {'edit_cart': true}) }}

    <div class="clearfix mb3">
        <div class="right">
            <a class="button button-small bg-gray" href="#" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart">Update cart</a>
        </div>
    </div>

    <div class="clearfix mb3">

        <!-- Promo Codes -->
        <div class="sm-col sm-col-4">
            <h6>Promo Codes</h6>

            <div class="form-group mb2">
                <input class="form-control field-small field-light" type="text" id="coupon" name="coupon" value="{{ coupon_code }}" placeholder="Promo code" /> <a class="button button-small" href="#" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart">Apply Promo</a>
            </div>
        </div>
        <!-- // Promo Codes -->

        <!-- Shipping Estimate -->
        <!--
        <div class="col-sm-5">
            <h4 class="breaker">Shipping rates calculator</h4>

            <div class="form-inline">
                <div class="form-group mr05">
                    <label class="small full" for="country">Country</label>
                    <select class="form-control" id="country" name="country" data-state-select="state" data-current-state="{{ shipping_info.state }}">
                        {% for country in countries %}
                          <option value="{{ country.id }}" {{ option_state(country.id, shipping_info.country) }}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mr05">
                    <label class="small full" for="state">State</label>
                    <select id="state" name="state" class="form-control">
                        {# partial('shop-stateoptions', {'states': states, 'current_state': shipping_info.state}) #}
                    </select>
                </div>

                <div class="form-group">
                    <label class="small full" for="zip">Zip/Postal Code</label>
                    <input name="zip" type="text" value="" class="form-control input-sm" size="6" value="{{ shipping_info.zip }}" />
                </div>
            </div>

            <div class="form-group">
                <a class="btn btn-dark btn-xs" href="#" data-ajax-handler="shop:onEvalShippingRate" data-ajax-update="#shipping_options=shopestimatedshippingoptions">Calculate</a>

                <div id="shipping_options"></div>
            </div>
        </div>
        -->
        <!-- // Shipping Estimate -->

        <!-- Order Summary -->
        <div class="[ sm-col sm-col-4 sm-col-offset-4 ] order-summary">

            <h6 class="xsmall uppercase mb2">Order Summary</h6>
            <p class="small">Shipping costs and taxes will be evaluated during checkout.</p>

            {% if totals.discountTotal > 0 %}
            <p class="clearfix">
                <strong class="col col-6">Discount applied</strong>
                <span class="col col-6 right-align newprice">{{ totals.discountTotal|currency }}</span>
            </p>
            {% endif %}

            {% if totals.totalShippingQuote > 0 %}
            <p class="clearfix">
                <strong class="col col-6">Shipping</strong>
                <span class="col col-6 right-align newprice">{{ totals.totalShippingQuote|currency }}</span>
            </p>
            {% endif %}
            <p class="clearfix">
                <strong class="col col-6">Subtotal</strong>
                <span class="col col-6 right-align">{{ totals.subtotal|currency }}</span>
            </p>

            <p class="clearfix">
                <strong class="col col-6">Estimated total</strong>
                <span class="col col-6 right-align">{{ totals.total|currency }}</span>
            </p>

        </div>
        <!-- // Order Summary -->

    </div>

    <div class="full-width py3 border-top">
        <a class="button button-outline" href="{{ site_url('/') }}">Continue shopping</a>
        {% if customer %}
        <a class="button bg-red right" href="{{ site_url('/checkout') }}">Checkout</a>
        {% else %}
        <a class="button bg-red right" href="{{ site_url('/checkout-start') }}">Checkout</a>
        {% endif %}
    </div>

{% else %}
    <div class="row">
        <h4>Your cart is empty.</h4>
        <a class="button bg-red" href="{{ site_url('/') }}">Continue shopping.</a>
    </div>
{% endif %}
