{{ open_form() }}
    {% paginate products by 48 %}

    {% for product in pagination.items %}
    {% set is_on_sale = product.onSale %}
    {% set page_url = '/product/' ~ product.url_name %}

    <div class="wrapper bg-norepeat bgimg-raster-white py4">

        <div class="container px2">
            <h2 class="h3 bold uppercase">
                <a href="{{ page_url }}">{{ product.name }}</a>
            </h2>

            <div class="clearfix mb2 mxn4 md-flex flex-center">
                <div class="md-col md-col-5 px4">
                    <p class="small">{{ product.short_description }}</p>
                    <p class="h4 mb0">{{ product.fullPrice|currency }}</p>
                </div>

                <div class="md-col md-col-7 px4">
                    {% if product.related.count %}
                    <a href="{{ page_url }}">
                        <div class="clearfix">
                        {% for relatedProduct in product.related %}
                        {% if relatedProduct.sku != 'allen-key' %}
                        {% for relatedImage in relatedProduct.images %}
                        <figure class="sm-col sm-col-4">
                            <img alt="{{ relatedProduct.name }} image" src="{{ relatedProduct.images.first.thumbnail(320, 240)|default('https://placehold.it/320x240') }}"/>
                        </figure>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% else %}
    {% if empty_text %}
    <li class="empty">{{ empty_text }}</li>
    {% endif %}
    {% endfor %}


<!--     <div class="pagination-centered">
        <div class="pagination">
        {% navigation %}
        </div>
    </div> -->

    {% endpaginate %}
{{ close_form() }}
