{{ open_form({'class': 'custom'}) }}

<header class="py3 mb2 border-bottom" id="checkout-progress">
    {{ partial("shop-checkout-progress") }}
</header>

<div class="md-col-6 mx-auto mb3" id="shipping-method">

    <header class="py3">
        <h4>Choose a shipping method.</h4>
    </header>

    {% if shippingOptions %}
    <input type="hidden" value="" name="shippingMethod">
    <table class="table-light" id="shipping-methods">
        {% for index, option in shippingOptions %}
        <tr>
            <td class="py2">
                <label class="block" for="{{ 'option'~index }}">
                    <input name="shippingMethod" {{ option.error_hint ? 'disabled' : null }} value="{{ index }}" {{ radio_state(shippingMethodInfo.id, option.id) }} type="radio" id="{{ 'option'~index }}" class="left" />
                    <span class="choice-title ml3 block">
                        <strong class="h5 mb0">{{ option.shippingMethodName }}</strong>
                        {% if option.shippingServiceName %}
                        <span class="block">{{ option.shippingServiceName }}</span>
                        {% endif %}
                    </span>
                </label>

                {% if option.error_hint %}
                <span class="choice-description red block">{{ option.error_hint }}</span>
                {% endif %}
            </td>
            <td class="narrow text-right">
                {% if not option.error_hint %} {{ not option.is_free ? option.quote|currency : 'free' }} {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>We are sorry, there are no shipping options available for your location.</p>
    {% endif %}

</div>

{% if shippingOptions %}
<div class="right-align">
    <a class="button" href="#" data-ajax-handler="shop:checkout" data-ajax-update="#checkout-page=shop-checkout, #breadcrumbs-area=shop-checkout-progress, #mini-cart=shop-minicart">Place order &amp; pay</a>
</div>
{% endif %}
<input type="hidden" name="step" value="shipping_method,review" />
<input type="hidden" name="nextStep" value="pay" />

{{ close_form }}
