{{ open_form({'data-ajax-handler': 'shop:onChangePassword', 'class': 'form-horizontal custom', 'data-ajax-update': '#profile-changepassword=shop-changepassword', 'data-validation-message' : ''}) }}

{{ flash() }}

    <div class="[ mxn2 mb2 clearfix ] form-group">
        <label for="oldPassword" class="[ md-col md-col-6 md-right-align mt1 px2 ]">Old Password</label>
        <div class="[ md-col md-col-6 px2 ]">
            <input type="email" class="form-control field-light block full-width" id="oldPassword" name="oldPassword" />
            <span class="[ xsmall red ] error"></span>
        </div>
    </div>

    <div class="[ mxn2 mb2 clearfix ] form-group">
        <label for="password" class="[ md-col md-col-6 md-right-align mt1 px2 ]">New Password</label>
        <div class="[ md-col md-col-6 px2 ]">
            <input type="email" class="form-control field-light block full-width" id="password" name="password" />
            <span class="[ xsmall red ] error"></span>
        </div>
    </div>

    <div class="[ mxn2 mb2 clearfix ] form-group">
        <label for="passwordConfirm" class="[ md-col md-col-6 md-right-align mt1 px2 ]">Confirm Password</label>
        <div class="[ md-col md-col-6 px2 ]">
            <input type="email" class="form-control field-light block full-width" id="passwordConfirm" name="passwordConfirm" />
            <span class="[ xsmall red ] error"></span>
        </div>
    </div>

    <div class="[ mxn2 mb2 clearfix ] form-group">
        <div class="md-col md-col-6 md-col-offset-6 px2">
            <button type="submit" class="button">Update Password</button>
        </div>
    </div>

    <input type="hidden" name="flash" value="Your password has been successfully changed."/>
    <input type="hidden" name="redirect" value="{{ root_url('/profile') }}"/>

</form>