{% if step == 'billing_info' %}
  <nav class="mxn2">
    <strong class="inline-block middle py2 px2 red">Billing and Shipping</strong>
    <span class="inline-block middle py2 px2">Shipping Method</span>
    <span class="inline-block middle py2 px2">Review and Pay</span>
  </nav>
  <h3 class="mt1 mb0">Checkout Step 1 of 3</h3>
{% elseif step == 'pay' %}
  <nav class="mxn2">
    <a class="button button-small button-transparent" href="#"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout, #breadcrumbs-area=shop-checkout-progress, #mini-cart=shop-minicart"
        data-ajax-extra-fields="nextStep=billing_info"
      >Billing and Shipping</a>
    <a class="button button-small button-transparent" href="#"
      data-ajax-handler="shop:checkout"
      data-ajax-update="#checkout-page=shop-checkout, #breadcrumbs-area=shop-checkout-progress, #mini-cart=shop-minicart"
      data-ajax-extra-fields="nextStep=shipping_method"
    >Shipping Method</a>
    <span class="inline-block middle py2 px2 red">Review and Pay</span>
  </nav>
  <h3 class="mt1 mb0">Checkout Step 3 of 3</h3>
{% else %}
  <nav class="mxn2">
    <a class="button button-small button-transparent" href="#"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout, #breadcrumbs-area=shop-checkout-progress, #mini-cart=shop-minicart"
        data-ajax-extra-fields="nextStep=billing_info"
      >Billing and Shipping</a>
    <strong class="inline-block middle py2 px2 red">Shipping Method</strong>
    <span class="inline-block middle py2 px2">Review and Pay</span>
  </nav>
  <h3 class="mt1 mb0">Checkout Step 2 of 3</h3>
{% endif %}