// Definition lists

.list-dfn {
	dt {
		float: left;
		width: 25%;
	}

	dd {
		overflow: hidden;
	}
}

.social-item {
	border: 1px solid darken($brand-grey, 20);
	border-radius: 50%;
	height: 36px;
	width: 36px;
	text-align: center;
	font-size: 20px;
	line-height: 36px;
	padding: 0;
}