// General
$sans-serif: "Lato", "Helvetica Neue", Helvetica, sans-serif;
$serif: "garamond-premier-pro-display", Georgia, "Times New Roman", serif;
$heading: "Oswald", Helvetica, sans-serif;

// basscss
$font-family: $sans-serif;
$h1: 2.5rem;
$h2: 2.2rem;
$h3: 1.8rem;
$h4: 1.35rem;
$h5: 1.2rem;
$h6: 1.05rem;
$bold-font-weight: 700;

$border-width: 2px;
$link-color: $brand-secondary;
$container-width: 72em;

$breakpoint-sm-max: '(max-width: 40em)' !default;
$breakpoint-xl: '(min-width: 84em)' !default;

$gray: #919191;