---
action: 'shop:orders'
template: inner
protocol: all
published: true
name: Orders
url: /orders
---

<div class="container px2 cushion-bottom">

     <header class="py2">
        <h1>Orders</h1>
    </header>

    <div class="clearfix">

        {{ partial('account-sidenav') }}

        <div class="sm-col sm-col-6">

            {% if not orders or not orders.count %}

                <h4>You haven't placed any orders yet.</h4>

            {% else %}
            <div class="overflow-hidden">
                <table class="table-light full-width">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders if not order.is_quote %}
                    {% set url = root_url('/order/'~order.id) %}
                        <tr>
                            <td><a href="{{ url }}">{{ order.number }}</a></a></td>
                            <td><a href="{{ url }}">{{ order.created_at.format('M jS, Y') }}</a></td>
                            <td><a href="{{ url }}">{{ order.orderStatus.name }}</a></td>
                            <td><a href="{{ url }}"><i>{{ order.total|currency }}</i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>

    </div>
</div>