h1, h2, h3, h4, h5, h6 {
	.center &,
	&.center {
		margin-left: auto;
		margin-right: auto;
		max-width: 30em;
	}
}

h1 {
	font-weight: 300;
	line-height: 1.1;
}

p, dl, ol, ul {
	font-size: $h6;
}

figure {
	margin: 0;
	padding: 0;

	img {
		display: inline-block;
		max-width: 100%;
	}
}

// Sizes

.xsmall {
	font-size: 12px;
}

.small {
	font-size: 13px;
}

@media #{$breakpoint-sm} {

	.xsmall {
		font-size: 0.7rem;
		line-height: 1.4;
	}

	.small {
		font-size: 0.9rem;
		line-height: 1.5;
	}
}

// Styles

.serif {
	font-family: $serif;
}

.uppercase {
	text-transform: uppercase;
}

.sentence {
	text-transform: none;
}

.heading {
	font-family: $heading;
}