/**
 *  Home Page
*/


// Gallery

.main-gallery {
	min-height: 400px;
	max-height: 600px;
}

.gallery-cell {
	width: 100%;
	min-height: 400px;
	max-height: 600px;
	margin-right: 10px;
	text-align: center;
}

@media #{$breakpoint-sm} {
	.main-gallery {
		min-height: 300px;
	}

	.gallery-cell {
		min-height: 300px;
	}
}

@media #{$breakpoint-lg} {
	.main-gallery {
		min-height: 400px;
	}

	.gallery-cell {
		min-height: 400px;
	}
}


// Super Quick

.quick-scene {
	box-sizing: border-box;
	padding-bottom: 38%;
}

.quick-top {
	left: 5%;
	top: -30px;
	width: 250px;
}

.quick-bottom {
	right: 0;
	bottom: -40px;
	width: 300px;
}

.quick-arrow {
	left: 5%;
	top: 40%;
	width: 100px;
}

@media #{$breakpoint-sm} {

	.quick-top {
		top: -10%;
		left: 21%;
		width: 40%;
	}

	.quick-bottom {
		bottom: -10%;
		left: 34%;
		width: 50%;
	}

	.quick-arrow {
		left: 15%;
		top: 25%;
		width: 25%;
	}

}