.related-product {
	&__desc {
		p {
			font-size: 13px;
		}

		@media #{$breakpoint-sm} {
			p {
				font-size: 0.9rem;
				line-height: 1.5;
			}
		}
	}
}

.thumb {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.thumb-xs {
	height: 40px;

	img {
		max-height: 100%;
	}
}