html {
	height: 100%;
}

body {
	background-color: $base-background;
	color: $brand-secondary;
}

.container-narrow {
	max-width: 60em;
}

.container-wide {
	max-width: 84em;
}

.main {

}

.content {

}