/*

Typography

*/

.brand-primary {
	color: $brand-primary;
}

.brand-secondary {
	color: $brand-secondary;
}

/*

Backgrounds

*/

.bg-brand-primary {
	background-color: $brand-primary;
}

.bg-brand-secondary {
	background-color: $brand-secondary;
}

.bg-brand-grey {
	background-color: $brand-grey;
}

.shadowed {
	box-shadow: rgba(#000, 0.25) -10px 0 20px;
}

.bg-norepeat {
	background-repeat: no-repeat;
}

.bgimg-raster-white {
	background-image: url(../img/bg-raster-white.png);
}

.bgimg-raster-grey {
	background-image: url(../img/bg-raster-grey.png);
}

.bgimg-raster-darkgrey {
	background-image: url(../img/bg-raster-darkgrey.png);
}

/*

Alignment

*/

.sm-left-align {
	@media #{$breakpoint-sm} {
		text-align: left;
	}
}

.sm-center {
	@media #{$breakpoint-sm} {
		text-align: center;
	}
}

.sm-right-align {
	@media #{$breakpoint-sm} {
		text-align: right;
	}
}

.md-right-align {
	@media #{$breakpoint-md} {
		text-align: right;
	}
}

.lg-right-align {
	@media #{$breakpoint-lg} {
		text-align: right;
	}
}

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

/*

Layout

*/

.fill-height {
	height: 100%;
}


.full-height {
	@media #{$breakpoint-sm} {
		min-height: 100%;
	}
}


/*

Padding

*/

.pyr3 {
	padding-top: 3%;
	padding-bottom: 3%;
}

.cushion-top {
	padding-top: 12.5%;

	&-sm {
		padding-top: 5%;
	}
}

.cushion-bottom {
	padding-bottom: 12.5%;

	&-sm {
		padding-bottom: 5%;
	}

	&-lg {
		padding-bottom: 20%
	}

	&-xl {
		padding-bottom: 32%;
	}
}

