---
action: 'shop:receipt'
template: shop
protocol: all
published: true
name: Receipt
url: '/receipt/:paymenthash'
---

<div class="container px2 cushion-bottom">
{% if invoice %}

    <header class="py2">
        <h1>Order #{{ invoice.order.number }}</h1>
        <h4>Please keep this information for your records.</h4>
    </header>

    <div class="px3 py2 mb3 border">
        <div class="clearfix mxn2">
            <div class="sm-col sm-col-4 px2">
                <h6>Order Details</h6>
                <ul class="list-reset small">
                    <li><strong>Order number:</strong> #{{ invoice.order.number }}</li>
                    {% if payment.guessPaymentMethod() %}
                    <li><strong>Payment method:</strong> {{ payment.guessPaymentMethod().name }}</li>
                    {% endif %}
                    <li><strong>Order Date:</strong> {{ invoice.order.created_at.format('M jS, Y') }}</li>
                </ul>
            </div>

            <div class="sm-col sm-col-4 px2">
                <h6>Billing Address</h6>
                <p class="small regular">
                    {{ invoice.order.billingAddress.first_name }} {{ invoice.order.billingAddress.last_name }}<br />
                    {{ invoice.order.billingAddress.street_address }}<br />
                    {{ invoice.order.billingAddress.city }}, {{ invoice.order.billingAddress.state.name }} {{ invoice.order.billingAddress.postal_code }}<br />
                    Phone: {{ invoice.order.billingAddress.phone }}
                </p>
            </div>

            <div class="sm-col sm-col-4 px2">
                <h6>Shipping Address</h6>

                {% for shipment in invoice.shipments %}
                <p class="small regular">
                    {{ shipment.shippingAddress.first_name }} {{ shipment.shippingAddress.last_name }}<br />
                    {{ shipment.shippingAddress.street_address }}<br />
                    {{ shipment.shippingAddress.city }}, {{ shipment.shippingAddress.state.name }} {{ shipment.shippingAddress.postal_code }}<br />
                    Phone: {{ shipment.shippingAddress.phone }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix py2">
        {{ partial('shop-invoiceitems') }}
    </div>

    <hr />

    {% if invoice.isPaid() %}
    <div class="clearfix py2">
        {{ partial('shop-invoicetotals') }}

        <div class="sm-col-right sm-col-4 right-align">
            <a class="button bg-red" href="{{ site_url('/') }}">Continue Shopping</a>
        </div>
    </div>
    {% else %}
    <div class="clearfix right-align">
        <a class="button bg-red" href="{{ site_url('review/'~order.order_hash) }}">Pay the order</a>
    </div>
    {% endif %}

{% else %}
    <p class="flash error">Invoice not found.</p>
{% endif %}
</div>