---
action: ''
description: ''
template: master
protocol: ''
published: '1'
redirect: ''
name: Home
url: /
---

<div class="[ container px2 py3 ]">
    <div class="[ clearfix overflow-hidden ]">

        <div class="[ col col-12 mb3 ] main-gallery">
            <div class="gallery-cell">
                <a href="{{ site_url('product/studio-kit') }}">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="{{ 'img/slider-images-1.png'|theme_resource }}" media="(min-width: 600px)"/>
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="{{ 'img/slider-images-1-sm.png'|theme_resource }}" alt=""/>
                    </picture>
                </a>
            </div>
            <div class="gallery-cell">
                <a href="{{ site_url('product/sling-kit') }}">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="{{ 'img/slider-images-2.png'|theme_resource }}" media="(min-width: 600px)"/>
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="{{ 'img/slider-images-2-sm.png'|theme_resource }}" alt=""/>
                    </picture>
                </a>
            </div>
            <div class="gallery-cell">
                <a href="{{ site_url('product/backpack-mount') }}">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="{{ 'img/slider-images-3.png'|theme_resource }}" media="(min-width: 600px)"/>
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="{{ 'img/slider-images-3-sm.png'|theme_resource }}" alt=""/>
                    </picture>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="bg-brand-primary">
    <div class="[ container px2 py3 ]">
        <header class="center mb2">
            <h2 class="uppercase white mb0 mt0">Super Convenient</h2>
            <h4 class="white mt0">The best quick-release system for convenient use of multiple accessories</h4>
        </header>

        <div class="col-12 center mb2 relative">
            <img alt="" src="{{ 'img/jump-image.png'|theme_resource }}" />

            <!-- <div class="clearfix absolute left-0 top-0 bottom-0 right-0 mt2">
                <a href="#" class="col col-fifth cushion-top cushion-bottom"></a>
                <a href="#" class="col col-fifth cushion-top cushion-bottom"></a>
                <a href="#" class="col col-fifth cushion-top cushion-bottom"></a>
                <a href="#" class="col col-fifth cushion-top cushion-bottom"></a>
                <a href="#" class="col col-fifth cushion-top cushion-bottom"></a>
            </div> -->
        </div>
    </div>
</div>
<div class="[ bg-gray bgimg-raster-grey bg-cover bg-center ]">
    <div class="[ container px2 py3 relative overflow-hidden ]">
        <header class="center relative z4">
            <h2 class="uppercase white mb0 mt0">Super Quick</h2>
            <h4 class="white mt0">Easily slide camera into position, lock and get shooting in seconds!</h4>
        </header>
        <div class="quick-scene">
            <div class="[ absolute z1 ] quick-top">
                <img alt="" src="{{ 'img/img-quick-top.png'|theme_resource }}" />
            </div>
            <div class="[ absolute z1 ] quick-bottom">
                <img alt="" src="{{ 'img/img-quick-bottom.png'|theme_resource }}" />
            </div>
            <div class="[ absolute z2 ] quick-arrow">
                <img alt="" src="{{ 'img/img-quick-arrow.png'|theme_resource }}" />
            </div>
        </div>
    </div>
</div>
<div class="bg-silver">
    <div class="[ container py3 ]">
        <header class="center mb3">
            <h2 class="uppercase white mb0 mt0">Super Versatile</h2>
            <h4 class="white mt0">The Base Plate stays mounted to your camera and connects to all components in the Monkey Latch&trade; system</h4>
        </header>
        <div class="clearfix">

            {% set baseProducts = 'base-products'|collection %}

            <div class="sm-col sm-col-6 px2">
            {% for product in baseProducts.products %}
                {% if product.sku == "monkey-latch-base-plate" %}
                    <figure>
                        <img alt="{{ product.name }} thumbnail" src="{{ product.images.first.thumbnail(500, 280)|default('http://placehold.it/500x280') }}">
                    </figure>
                    <div class="right left-align mr4">
                        <h5 class="xsmall uppercase heading">{{ product.name }}</h5>
                        <p class="xsmall max-20">{{ product.short_description }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            </div>

            <div class="sm-col sm-col-6 px2">
            {% for product in baseProducts.products %}
                {% if product.sku != "monkey-latch-base-plate" %}
                <div class="clearfix mb1">
                    <figure class="col col-5 right-align">
                        {% if product.sku == "monkey-latch-backpack-mount" %}
                        <img alt="{{ product.name }} thumbnail" src="{{ product.images.first.thumbnail(280, 150)|default('http://placehold.it/280x150') }}">
                        {% else %}
                        <img alt="{{ product.name }} thumbnail" src="{{ product.images.first.thumbnail(180, 120)|default('http://placehold.it/180x120') }}">
                        {% endif %}
                    </figure>
                    <div class="col col-7 px2">
                        <h5 class="mt2 xsmall uppercase heading">{{ product.name }}</h5>
                        <p class="xsmall max-20">{{ product.short_description }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>

        </div>
    </div>
</div>

<div class="[ container px2 py3 ]">
    <header class="center mb3">
        <h2 class="uppercase mb0 mt0">Products</h2>
        <h4 class="mt0">A family of quick-release products to suit all your needs</h4>
    </header>


    {% set mainProducts = 'main-products'|collection %}

    <div class="clearfix mxn2 mb4">

        {% for product in mainProducts.products %}
        {% if (product.sku == 'studio-kit' or product.sku == 'sling-kit') %}

        <div class="sm-col sm-col-6 px2 mb2">
            <a href="/product/{{ product.url_name }}">
                <h6 class="uppercase xsmall">{{ product.name }} {{ product.fullPrice|currency }}</h6>

                {% if product.related.count %}
                <div class="clearfix">

                {% for relatedProduct in product.related %}
                {% if relatedProduct.sku != 'allen-key' %}
                <figure class="sm-col sm-col-4">
                    <img alt="{{ relatedProduct.name }} image" src="{{ relatedProduct.images.first.thumbnail(320, 240)|default('http://placehold.it/320x240') }}"/>
                </figure>
                {% endif %}
                {% endfor %}

                </div>
                {% endif %}
            </a>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <div class="clearfix mxn2">
        {% for product in mainProducts.products %}
        {% if (product.sku != 'studio-kit' and product.sku != 'sling-kit') %}

        {% if (product.sku == 'backpack-mount') %}
        <div class="sm-col sm-col-4 px2 mb2">
        {% else %}
        <div class="sm-col sm-col-8-3 px2 mb2">
        {% endif %}
            <a href="/product/{{ product.url_name }}">
                <h6 class="uppercase xsmall">{{ product.name }} {{ product.fullPrice|currency }}</h6>
                {% if product.related.count %}
                {% for relatedProduct in product.related %}
                {% if relatedProduct.sku != 'allen-key' %}
                <figure>
                {% if (product.sku == 'backpack-mount') %}
                    <img alt="{{ relatedProduct.name }} image" src="{{ relatedProduct.images.first.thumbnail(480, 320)|default('http://placehold.it/480x320') }}"/>
                    {% else %}
                    <img alt="{{ relatedProduct.name }} image" src="{{ relatedProduct.images.first.thumbnail(320, 240)|default('http://placehold.it/320x240') }}"/>
                    {% endif %}
                </figure>
                {% endif %}
                {% endfor %}
                {% endif %}
            </a>
        </div>

        {% endif %}
        {% endfor %}
    </div>
</div>
